<html>

<head>
    <link rel="stylesheet" type="text/css" href="C:\Users\Anirudh\Desktop\Hackathon\css\styles.css">
    <title>Login</title>
</head>

<body class="background_paper">
    <div class="center"><h1 class="rainbow">Login</h1></div>
    <br>
    <fieldset>
        <legend>Fill in your credentials</legend>
        <form action=/login method="POST">
            Name: <input id="username" type="text"><br>
            Category: <select id="category">
                <option id="student" name="student">Student</option>
                <option id="teacher" name="teacher">Teacher</option>
                <option id="admin" name="admin">Administrator</option>
            </select><br>
            Password: <input type="password" id="password">
        </form>
    </fieldset>
</body>

</html>